{% extends 'base.html' %}   
{% load static %}

{% block content %}   


<main class="pt-20">
        <div class="mt-32">
            <div class="md:w-8/12 px-5 md:px-0 w-full mx-auto text-center">
                <p class="text-6xl font-bold">{{ about.fa_title }}</p>
                <p class="text-justify leading-8 mt-10">
                    {{ about.fa_description|safe }}
                </p>
                <img class="w-8/12 mt-10 mx-auto" src="{{ about.image.url }}" alt="">
            </div>
        </div>
    </main>



{% endblock %}