{% extends 'base.html' %}   

{% block content %}   


        <main class="row pt-5 text-center my-5">
            <div class="col-12 text-light mx-auto">
                <h2 class="f-yekanTitr mb-5">{{ about_title }}</h2>
                <p class="text">

                    {{ about_description|safe }}

                </p>
            </div>
            <div class="col-10  mx-auto">
                <img class="col-12 col-md-8 mt-5" src="{{ about_image.url }}" alt="">
            </div>

        </main>


{% endblock %}