{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="pt-20 px-5 md:px-28">
        <div class="relative swiper-container overflow-x-hidden w-full h-auto md:h-64 rounded">
            <div class="swiper-wrapper">
                <!-- اسلاید‌ها -->
                <div class="swiper-slide flex items-center justify-center  h-auto">
                    <img src="{{ index_swiper.image1.url }}" alt="اسلاید 1"
                        class="w-full  h-auto md:h-64 object-cover">
                </div>
                <div class="swiper-slide flex items-center justify-center  h-auto md:h-64">
                    <img src="{{ index_swiper.image2.url }}" alt="اسلاید 2"
                        class="w-full  h-auto md:h-64 object-cover">
                </div>
                <div class="swiper-slide flex items-center justify-center  h-auto md:h-64">
                    <img src="{{ index_swiper.image3.url }}" alt="اسلاید 3"
                        class="w-full  h-auto md:h-64 object-cover">
                </div>
            </div>

        </div>
        <!--    start about-->
        <div class="mt-10 flex flex-col md:flex-row">
            <div class="flex flex-col w-full md:w-7/12 ">
                <h1 class="text-5xl font-extrabold font-yekanTittr text-white text-center md:text-right">{{ index_title }}
                </h1>
                <p class="font-yekanMatn text-justify text-white pt-6 leading-9">
                    {{ index_description|safe }} test
                </p>
            </div>
            <div class="w-full md:w-5/12 ">
                <div class="w-full relative">
                    <img class="absolute w-full md:w-6/12 md:right-1/2 top-9 img-number1"
                        src="{{index_image2.url}}" alt="">
                    <img class="absolute w-8/12 md:w-4/12 md:right-1/3 top-20 " src="{{ index_image1.url }}"
                        alt="">
                </div>
            </div>
        </div>
        <!--    end about-->
        <!-- start pruducts -->
        <div class="product mt-96 md:mt-32 ">
            <p
                class="text-3xl md:mt-0 md:pt-0 dark:text-white text-white  text-center pt-64 mt-56 font-yekanTittr font-bold">
                محصولات
                ما</p>
            <div class="mt-10 flex justify-center flex-col md:flex-row flex-wrap">
                <!-- az in estefade kon -->
                <a href="">
                    <div
                        class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center text-white  bg-orange-600 dark:bg-sky-800">
                        <div class="card-img bg-cover">
                            <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                        </div>
                        <div class="content mt-5">
                            <p class="mb-5">
                                <span class="text-xl font-bold">فوم باحال</span>
                            </p>
                            <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                            <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                            </button>
                        </div>
                </a>
                <!--  -->



                <!-- na ina -->
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <!--  -->
        </div>
        </div>
        <!-- end product -->
        <!-- start aboutUs -->
        <div class="aboutUs mt-10 md:mt-20 flex-col md:flex-row flex">
            <div class=" text-right mt-10 w-full md:w-8/12">
                <p
                    class="text-3xl md:mt-0 md:pt-0 mb-10 md:mb-0 font-yekanTittr dark:text-white text-white  font-bold text-center md:text-right">
                    {{ aboutus_title }}</p>
                <p class=" text-justify text-white mb-10 leading-8">
                    {{ about_description|safe }}</p>
            </div>
            <div class="photo w-full md:w-4/12 ">
                <img class="w-8/12 mx-auto" src="{{ about_image.url }}" alt="">
            </div>
        </div>
        <!-- end about us -->
        <!-- start blogs -->
        <div id="products" class="swiper text-center mt-20  mySwiper">
            <div>
                <p
                    class="text-3xl md:mt-0 md:pt-0 dark:text-white text-white  text-right mb-10  font-yekanTittr font-bold">
                    آخرین مقالات منتشر شده</p>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide flex flex-col align-top bg-orange-600 dark:bg-sky-800">
                    <div class="blog-img">
                        <img class="" src="{{ article_image1.url }}" alt="">
                    </div>
                    <div class=" px-5">
                        <p class="my-5 text-xl text-white font-bold">{{ article_title1 }}</p>
                        <p class="text-justify text-white mb-10">
                            {{ article_description1|truncatewords:15|safe }}
                        </p>
                        <a class="text-blue-300 " href="{% url 'articles:article_detail' article_slug1 %}">خواندن ادامه مقاله</a>
                    </div>
                </div>
                <div class="swiper-slide flex flex-col align-top bg-orange-600 dark:bg-sky-800">
                    <div class="blog-img">
                        <img class="" src="{{ article_image2.url }}" alt="">
                    </div>
                    <div class=" px-5">
                        <p class="my-5 text-xl text-white font-bold">{{ article_title2 }}</p>
                        <p class="text-justify text-white mb-10">
                            {{ article_description2|truncatewords:15|safe }}
                        </p>
                        <a class="text-blue-300 " href="{% url 'articles:article_detail' article_slug2 %}">خواندن ادامه مقاله</a>
                    </div>
                </div>
                <div class="swiper-slide flex flex-col align-top bg-orange-600 dark:bg-sky-800">
                    <div class="blog-img">
                        <img class="" src="{{ article_image3.url }}" alt="">
                    </div>
                    <div class=" px-5">
                        <p class="my-5 text-xl text-white font-bold">{{ article_title3 }}</p>
                        <p class="text-justify text-white mb-10">
                            {{ article_description3|truncatewords:15|safe }}
                        </p>
                        <a class="text-blue-300 " href="{% url 'articles:article_detail' article_slug3 %}">خواندن ادامه مقاله</a>
                    </div>

                </div>
                <div class="swiper-slide flex flex-col align-top bg-orange-600 dark:bg-sky-800">
                    <div class="blog-img">
                        <img class="" src="{{ article_image4.url }}" alt="">
                    </div>
                    <div class=" px-5">
                        <p class="my-5 text-xl text-white font-bold">{{ article_title4 }}</p>
                        <p class="text-justify text-white mb-10">
                            {{ article_description4|truncatewords:15|safe }}
                        </p>
                        <a class="text-blue-300 " href="{% url 'articles:article_detail' article_slug4 %}">خواندن ادامه مقاله</a>
                    </div>

                </div>
                <div class="swiper-slide flex flex-col align-top bg-orange-600 dark:bg-sky-800">
                    <div class="blog-img">
                        <img class="" src="{{ article_image5.url }}" alt="">
                    </div>
                    <div class=" px-5">
                        <p class="my-5 text-xl text-white font-bold">{{ article_title5 }}</p>
                        <p class="text-justify text-white mb-10">
                            {{ article_description5|truncatewords:15|safe }}
                        </p>
                        <a class="text-blue-300 " href="{% url 'articles:article_detail' article_slug5 %}">خواندن ادامه مقاله</a>
                    </div>

                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="button pt-5">
            <a href="{% url 'articles:article_list' %}">
            <button class="dark:bg-sky-700 bg-orange-500 p-2 text-white rounded-md"> همه مقالات</button>
            </a>
        </div>
        <!-- end blogs -->

    </main>


 {% endblock %}
