{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="pt-20 px-5 md:px-28">
        <div class="relative swiper-container overflow-x-hidden w-full h-auto md:h-64 rounded">
            <div class="swiper-wrapper">
                <!-- اسلاید‌ها -->
                <div class="swiper-slide flex items-center justify-center  h-auto">
                    <img src="{% static '/dist/was_ngo_main_co-Z6fY6hko.jpg' %}" alt="اسلاید 1"
                        class="w-full  h-auto md:h-64 object-cover">
                </div>
                <div class="swiper-slide flex items-center justify-center  h-auto md:h-64">
                    <img src="https://via.placeholder.com/1920x1080?text=اسلاید+2" alt="اسلاید 2"
                        class="w-full  h-auto md:h-64 object-cover">
                </div>
                <div class="swiper-slide flex items-center justify-center  h-auto md:h-64">
                    <img src="https://via.placeholder.com/1920x1080?text=اسلاید+3" alt="اسلاید 3"
                        class="w-full  h-auto md:h-64 object-cover">
                </div>
            </div>

        </div>
        <!--    start about-->
        <div class="mt-10 flex flex-col md:flex-row">
            <div class="flex flex-col w-full md:w-7/12 ">
                <h1 class="text-5xl font-extrabold font-yekanTittr text-white text-center md:text-right">فوم گستر تهران
                </h1>
                <p class="font-yekanMatn text-justify text-white pt-6 leading-9">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و
                    متون
                    بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                    متنوع با
                    هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                    جامعه
                    و
                    متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و
                    فرهنگ
                    پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                    راهکارها و
                    شرایط
                    سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
                    دنیای
                    موجود
                    طراحی اساسا مورد استفاده قرار گیرد.
                </p>
            </div>
            <div class="w-full md:w-5/12 ">
                <div class="w-full relative">
                    <img class="absolute w-full md:w-6/12 md:right-1/2 top-9 img-number1"
                        src="{% static '/dist/power815799640-RBisT4c-.png' %}" alt="">
                    <img class="absolute w-8/12 md:w-4/12 md:right-1/3 top-20 " src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}"
                        alt="">
                </div>
            </div>
        </div>
        <!--    end about-->
        <!-- start pruducts -->
        <div class="product mt-96 md:mt-32 ">
            <p
                class="text-3xl md:mt-0 md:pt-0 dark:text-white text-white  text-center pt-64 mt-56 font-yekanTittr font-bold">
                محصولات
                ما</p>
            <div class="mt-10 flex justify-center flex-col md:flex-row flex-wrap">
                <!-- az in estefade kon -->
                <a href="">
                    <div
                        class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center text-white  bg-orange-600 dark:bg-sky-800">
                        <div class="card-img bg-cover">
                            <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                        </div>
                        <div class="content mt-5">
                            <p class="mb-5">
                                <span class="text-xl font-bold">فوم باحال</span>
                            </p>
                            <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                            <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                            </button>
                        </div>
                </a>
                <!--  -->



                <!-- na ina -->
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
                <div class="card-img bg-cover">
                    <img class="card-img" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                </div>
                <div class="content mt-5">
                    <p class="mb-5">
                        <span class="text-xl font-bold">فوم باحال</span>
                    </p>
                    <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis </p>
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </div>
            </div>
            <!--  -->
        </div>
        </div>
        <!-- end product -->
        <!-- start aboutUs -->
        <div class="aboutUs mt-10 md:mt-20 flex-col md:flex-row flex">
            <div class=" text-right mt-10 w-full md:w-8/12">
                <p
                    class="text-3xl md:mt-0 md:pt-0 mb-10 md:mb-0 font-yekanTittr dark:text-white text-white  font-bold text-center md:text-right">
                    درباره ما</p>
                <p class=" text-justify text-white mb-10 leading-8"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و
                    با
                    استفاده از
                    طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                    فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                    شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                    بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در
                    این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                    وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد..</p>
            </div>
            <div class="photo w-full md:w-4/12 ">
                <img class="w-8/12 mx-auto" src="{% static '/dist/power815799640-RBisT4c-.png' %}" alt="">
            </div>
        </div>
        <!-- end about us -->
        <!-- start blogs -->
        <div id="products" class="swiper text-center mt-20  mySwiper">
            <div>
                <p
                    class="text-3xl md:mt-0 md:pt-0 dark:text-white text-white  text-right mb-10  font-yekanTittr font-bold">
                    آخرین مقالات منتشر شده</p>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide flex flex-col align-top bg-orange-600 dark:bg-sky-800">
                    <div class="blog-img">
                        <img class="" src="{% static '/dist/paya-3-resize-Yg2vScDv.jpg' %}" alt="">
                    </div>
                    <div class=" px-5">
                        <p class="my-5 text-xl text-white font-bold">فوم های زیبا</p>
                        <p class="text-justify text-white mb-10">
                            می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                            خلاقی و فرهنگ
                            ...پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان و ر
                        </p>
                        <a class="text-blue-300 " href="#">خواندن ادامه مقاله</a>
                    </div>
                </div>
                <div class="swiper-slide  bg-orange-600 dark:bg-sky-800">

                </div>
                <div class="swiper-slide  bg-orange-600 dark:bg-sky-800">

                </div>
                <div class="swiper-slide  bg-orange-600 dark:bg-sky-800">

                </div>
                <div class="swiper-slide  bg-orange-600 dark:bg-sky-800">

                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="button pt-5">
            <button class="dark:bg-sky-700 bg-orange-500 p-2 text-white rounded-md"> همه مقالات</button>
        </div>
        <!-- end blogs -->

    </main>


 {% endblock %}