{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="pt-28">
    <p class="text-3xl pt-36  dark:text-white text-white  text-center mt-32 font-yekanTittr font-bold">
        محصولات
        ما</p>
    <div class="mt-10 flex justify-center flex-col md:flex-row flex-wrap">
        <!-- az in estefade kon -->

        {% for article in article_list1 %}
        <div class="card mx-auto my-2 md:m-2 w-11/12 md:w-3/12 text-center  bg-orange-600 dark:bg-sky-800">
            <div class="card-img bg-cover">
                <img class="card-img" src="{{ article.thumbnail.url }}" alt="">
            </div>
            <div class="content mt-5">
                <p class="mb-5">
                    <span class="text-xl font-bold">{{ article.fa_title }}</span>
                </p>
                <p class="subtext">{{ article.fa_description_short }}</p>
                <a href="{% url 'articles:article_detail' article.slug %}">
                    <button class=" text-indigo-300 rounded-md p-2 mt-5">مشاهده محصولات
                    </button>
                </a>
            </div>
        </div>

        {% endfor %}


        <div class="flex w-full items-center mt-10 justify-center space-x-2">

            {% if article_list1.has_previous %}
            <a href="{% url 'articles:article_list' %}?page={{article_list1.previous_page_number}}">
                <button class="bg-blue-300 text-white px-4 py-2 rounded hover:bg-blue-400">
                    قبلی
                </button>
            </a>
            {% endif %}

            {% for i in article_list1.paginator.page_range %}
                {% if article_list1.number == i %}
                <span class="bg-blue-300 text-white px-4 py-2 rounded">
                    {{ i }}
                </span>
                {% endif %}
            {% endfor %}

            {% if article_list1.has_next %}
            <a href="{% url 'articles:article_list' %}?page={{article_list1.next_page_number}}">
                <button class="bg-blue-300 text-white px-4 py-2 rounded hover:bg-blue-400">
                    بعدی
                </button>
            </a>
            {% endif %}

        </div>

    </div>


    <!--  -->
    </div>
    </div>
    <!-- end product -->


</main>
{% endblock %}