{% extends 'base.html' %}
{% load static %}     

{% block content %} 

  <main class="pt-20">
    <div class="flex w-11/12 mx-auto flex-col">
      <div class="overflow-x-auto mt-32 sm:-mx-6 lg:-mx-8">
        <div class="inline-block w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="w-full text-right text-sm font-light dark:text-white">
              <thead class="border-b border-neutral-200 bg-red-500 font-medium dark:border-white/10">
                <tr>
                  <th scope="col" class="px-6 py-4">شماره محصول</th>
                  <th scope="col" class="px-6 py-4">اسم</th>
                  <th scope="col" class="px-6 py-4">ابعاد</th>
                  <th scope="col" class="px-6 py-4">جزییات</th>
                </tr>
              </thead>
              <tbody class="">
                {% for product in products %}
                <tr class="border-b border-neutral-200 bg-black/[0.02] h-16 dark:border-white/10 p-12">
                  <td class="whitespace-nowrap text-right px-6 py-5 font-medium">{{ forloop.counter }}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{ product.fa_title }}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{ product.size }}</td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <a class="text-blue-300" href="{% url 'products:product_detail' product.slug %}">مشاهده بیشتر</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</main>

{% endblock %}