{% extends 'base.html' %}
{% load static %}     

{% block content %}   


    <main class="px-5 pt-20 w-full flex flex-col md:flex-row">

        <div class="md:w-8/12 w-full">
            <p class=" font-extrabold text-3xl font-yekanTittr  text-white text-center md:text-right">{{ product.fa_title }}
            </p>
            <p class="text-justify mb-20 mt-10 leading-8 md:mb-0">
                {{ product.fa_description|safe }}
            </p>
        </div>
        <div class="md:w-4/12 w-full">
            <img class="w-8/12 mx-auto" src="{{ product.image.url }}" alt="">
        </div>

    </main>

{% endblock %}
