{% extends 'base.html' %}
{% load static %}     

{% block content %}   


    <main class="pt-20">
        <div class="flex w-11/12 mx-auto  flex-col">
            <div class="overflow-x-auto mt-32 sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-right text-sm font-light dark:text-white">
                            <thead class="border-b border-neutral-200  bg-red-500  font-medium dark:border-white/10">
                                <tr>
                                    <th scope="col" class="px-6 py-4">شماره محصول</th>
                                    <th scope="col" class="px-6 py-4">اسم</th>
                                    <th scope="col" class="px-6 py-4">ابعاد</th>
                                    <th scope="col" class="px-6 py-4"> جزییات </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10">
                                    <td class="whitespace-nowrap text-right px-6 py-4 font-medium">1</td>
                                    <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                    <td class="whitespace-nowrap px-6 py-4">Otto</td>                                                                                                                         
                                    <td class="whitespace-nowrap  px-6 py-4"><a class="text-blue-300" href="">مشاهده
                                            بیشتر</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        
    <script type="module" src="{% static 'assets/JS/menu.js' %}"></script>
    <script type="module" src="{% static 'assets/JS/theme.js' %}"></script>
    </main>

{% endblock %}